.App-header {
    background-color: skyblue;
    padding: 0px;
    margin: 0px;
    padding: 1px;
}

.App-header li{
    display: inline-block;
    padding-right: 25px;
}

.App-header li a{
    color: white;
    text-decoration: none;
}

.app-footer {
    background-color: skyblue;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}